<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="spring1" class="com.monkey192.beans.SpringBean1">
		<constructor-arg index="0" ref="spring2" />
		<constructor-arg index="1" ref="spring3" />
	</bean>

	<bean id="spring2" class="com.monkey192.beans.SpringBean2" />
	<bean id="spring3" class="com.monkey192.beans.SpringBean3" />
</beans>